Bayes_mix.Rproj
.DS_Store
.Rproj.user/
.RDataTmp
.DS_Store
.RData
.Rhistory
Bayes_mix.Rproj
.Rproj.user
experiments/ex1/.DS_Store
experiments/ex1/plots/.DS_Store
experiments/ex2/.DS_Store
experiments/ex2/plots/.DS_Store
